langchain==0.1.5
langchainhub==0.1.14
langchain-cli==0.0.21
langchain-community==0.0.17
langchain-core==0.1.16
langchain-experimental==0.0.49
langchain_openai==0.0.5
langserve[all]==0.0.41
langsmith==0.0.84

# HTML/XML parsing
beautifulsoup4==4.12.3

# PDF parsing
pypdf==4.0.1

# Server
fastapi[all]==0.109.1

# Vector Store
faiss-cpu==1.7.4
